/* CSS3
app.css
 */
* {
    font-family: "Segoe UI", sans-serif;
}

.cheat-title {
    margin-bottom: 10px;
}

.cheat-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cheat-body {
    font-size: 15px;
}

.cheat-body label {
    position: relative;
    top: -1.5px;
}

fluent-tab {
    font-size: 18px;
    margin-bottom: 10px;
}

fluent-heading {
    font-size: 25px;
    margin-bottom: 2px;
}

fluent-card {
    padding: 15px;
    margin-bottom: 20px;
}

fluent-divider {
    margin-bottom: 10px;
}

fluent-tab {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-bottom: 2px solid transparent;
}

fluent-tab:hover {
    background-color: #0c0c0c0b;
}

fluent-tab[aria-selected="true"] {
    border-bottom-color: #036ac4;
    transform: translateY(0);
}

fluent-tab[aria-selected="false"] {
    transform: translateY(2px);
}

fluent-tree-view {
    overflow: hidden;
}

fluent-tree-item {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: block;
    overflow: hidden;
    height: auto;
}

fluent-tree-item:hover {
    background-color: #f7f7f7;
    transform: translateX(3px);
}